<div class="container">

    <h1>Lista de Tarefas</h1>
    
    <div class="row">
        {{#each tarefas}}
            <div class="mybox">
            <h3>{{ this.titulo }}</h3><hr>
            <p>{{ this.descricao }}</p>
            <div class="d-flex justify-content-end">
                <input type="button" class="btn btn-primary" value="Atualizar">
            </div>
            </div>
        {{/each}}       
    </div>

</div>