<div class="container">

<div class="d-flex justify-content-center">
     <h1>Cadastro de Usuários</h1>
</div>

    <div class="d-flex justify-content-center mt-4">


        <div class="mybox mt-4">
                <form action="/cadastro_user" method="post">
                    <label for="">Login</label>
                    <input type="text" class="form-control" name="nome" placeholder="Digite o Login">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="Digite seu Email">
                    <label for="">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="Digite sua Senha">
                    <div class="d-flex justify-content-end mt-4">
                        <input type="submit" class="btn btn-primary" value="Cadastrar Usuário">
                    </div>
                </form>
        </div>

    </div>

</div>