<div class="container">

<div class="d-flex justify-content-center">
     <h1>Agenda de Tarefas</h1>
</div>

    <div class="d-flex justify-content-center mt-4">


        <div class="mybox mt-4">
                <form action="#" method="get">
                    <label for="">Login</label>
                    <input type="text" class="form-control" name="nome" placeholder="Digite o Login">
                    <label for="">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="Digite sua Senha">
                    <div class="d-flex justify-content-end mt-4">
                        <input type="submit" class="btn btn-primary" value="Fazer Login">
                    </div>
                </form>
        </div>

    </div>

</div>