
body{
    background-color:rgb(201, 200, 200);
}

.mybox{
    height: auto;
    width: 500px;
    background-color: aliceblue;
    color: black;
    box-shadow: 12px 12px 12px black;
    border-radius: 12px 12px 12px 12px;
    padding: 20px;
}